@model DevFramework.Northwind.MvcWebUI.Models.SporcuKategoriListViewModel
@{
    Layout = null;
}


@using (Html.BeginForm("SporcuKategoriSil", "SporcuKategori", FormMethod.Post, new { id = "popupForm" }))
{
    @Html.HiddenFor(a => a.SporcuKategoriGet.Id)


    <div class="form-group">
        <label>Kategori Adı</label>
        <p>@Model.SporcuKategoriGet.KategoriAdi</p>
    </div>


    <div>
        <input class="btn btn-danger" type="submit" value="SİL" />
    </div>
}


