<!DOCTYPE html>

<html>
<head>
    <title>title</title>
    <!-- DataTables CSS -->

</head>
<body>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Tesis Demirbaşları
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div style="width:50%; margin:0 auto" class="tablecontainertesisdemirbaslar">
                        <a class="popup btn btn-primary" href="~/TesisDemirbaslar/TesisDemirbaslarKayit/0" style="margin-bottom:20px; margin-top:20px;">Fatura Türü Ekle</a>
                        <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-tesisdemirbaslarlist">
                            <thead>
                                <tr>
                                    <th>Demirbaş Adı</th>
                                    <th>Alım Fiyatı</th>
                                    <th>Kullanım Yeri</th>
                                    <th>Kullanım Amaçı</th>
                                    <th>Düzenle</th>
                                    <th>Sil</th>
                                </tr>
                            </thead>

                        </table>
                    </div>
                </div>
                <!-- /.panel-body -->
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>

    </div>

</body>
</html>

