@model DevFramework.Northwind.MvcWebUI.Models.SporcuFotoListViewModel

@{
    var grid = new WebGrid(null,
          defaultSort: "",
          rowsPerPage: 5,
          selectionFieldName: "SearchString",
          ajaxUpdateContainerId: "agrid",
          sortFieldName: "SortColumn",
          sortDirectionFieldName: "SortOrder");
    grid.Bind(Model.SporcuFotos, autoSortAndPage: true, rowCount: 5);
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style type="text/css">
        body {
            font-family: Arial;
            font-size: 10pt;
        }

        .Grid {
            border: 1px solid #ccc;
            border-collapse: collapse;
        }

            .Grid th {
                background-color: #F7F7F7;
                font-weight: bold;
            }

            .Grid th, .Grid td {
                padding: 5px;
                border: 1px solid #ccc;
            }

            .Grid, .Grid table td {
                border: 0px solid #ccc;
            }

                .Grid img {
                    height: 300px;
                    width: 500px;
                    cursor: pointer;
                }

        #dialog img {
            height: 550px;
            width: 805px;
            cursor: pointer;
        }
    </style>
</head>
<body>
    @using (Html.BeginForm("Index", "SporcuFoto", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="form-group">
            <label>File İnput</label>
            <input type="file" name="postedFile" />
        </div>
        <div class="form-group">
            <input type="submit" id="btnUpload" value="Yükle" />
        </div>

    }
    <hr />
    @*@foreach (var item in Model.SporcuFotos)
    {
        <img width="300" height="200" alt="@item.Id" src="data:image/jpg;base64,@Convert.ToBase64String(item.Data)" />
    }*@
    @grid.GetHtml(
        htmlAttributes: new { @id = "WebGrid", @class = "Grid" },
        columns: grid.Columns(
                 //grid.Column("Id", "Image Id"),
                 grid.Column("Name", "Name"),
                 grid.Column("Data", "Image",
                 format: @<text><img alt="@item.Name"
                                     src="data:image/jpg;base64,@Convert.ToBase64String(item.Data)" /></text>)))
    <div id="dialog" style="display: none"></div>
</body>

</html>
@section scripts {

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

    <script type="text/javascript">
        $(function () {
            $("#dialog").dialog({
                autoOpen: false,
                modal: true,
                height: 600,
                width: 800,
                title: "Zoomed Image"
            });
            $(".Grid img").click(function () {
                $('#dialog').html('');
                $('#dialog').append($(this).clone());
                $('#dialog').dialog('open');
            });
        });
    </script>
}